* {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden; 

}
 .response {
  padding: 1rem 0;
 }
section {
  padding: 5rem 5rem;
  box-sizing: border-box;
}
pre {
  background-color: #c4c4c4;
  padding: 4px;
  margin: auto;
  border: 1px solid #919191;
  overflow-x: auto;
  word-wrap: break-word; 
}

h2 {
  margin-top: 20px;
}

code {
  color: #d15454;
  background: #c4c4c4;
  padding: 6px 4px;
  word-wrap: break-word;
  border-radius: 4px;
}



.api-links ul {
  list-style-type: none;
  padding: 0;
}

.api-links ul li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #2196F3;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.api-links {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.api-links a {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.api-links a:hover {
  background-color: #e0e0e0;
}

footer {
  margin-top: 1.5rem;
  padding: 0.2rem 5rem;
  background-color: #4b4a4a;
  color: #fff;
  position: relative;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links, .footer-info {
  margin-bottom: 1.5rem;
  flex: 1;
  /* min-width: 250px; */
}

.footer-links h2, .footer-info h2 {
  margin-bottom: 0.7rem;
  color: #e0e0e0;
}

.footer-links ul, .footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li, .footer-info ul li {
  margin: 5px 0;
}

.footer-links ul li a, .footer-info ul li a {
  color: #007bff;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
}

.footer-links ul li a:hover, .footer-info ul li a:hover {
  text-decoration: underline;
}

.footer-info p {
  color: #666;
}




section {
  padding: 1rem;
  box-sizing: border-box;
}


footer {
  padding: 1rem;
  background-color: #4b4a4a;
  color: #fff;
  width: 100%;
  /* text-align: center; */
}
footer p {
  text-align: center;
}

.footer-content {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
}

.footer-links, .footer-info {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1rem;
}

.footer-links h2, .footer-info h2 {
  margin-bottom: 0.5rem;
}

.footer-links ul, .footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
}

.footer-links ul li, .footer-info ul li {
  margin: 0.5rem 0;
}

.footer-links ul li a, .footer-info ul li a {
  color: #007bff;
  text-decoration: none;
}

.footer-links ul li a:hover, .footer-info ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 0.5rem;
  }

  .footer-links, .footer-info {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 576px) {
  section {
    padding: 1rem;
  }

  .footer-links h2, .footer-info h2 {
    font-size: 16px;
  }

  .footer-links ul li a, .footer-info ul li a {
    font-size: 1rem;
  }
}
